.contact-form__heading  {
    position: absolute;
    top: 150px;
    left: 694px;
    width: 121px;
    height: 46px;
}

h2 {
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 35px;
    line-height: 45.61px;
    letter-spacing: 0%;
    color: #8B7969;

    /* 文字が途中で分割されなくなる */
    white-space: nowrap;
}

.form__group {
    position: absolute;
    top: 247px;
    left: 273px;
    width: 972px;
    height: 606px;
    border: 1px solid #F4F4F4;
}



/* お名前 */
.form__label-item-name {
    position: absolute;
    top: 253px;
    left: 274.54px;
    width: 125.91px;
    height: 26px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    color: #8B7969;
    }


span {
    color:red;
}


.form__input-text-first_name {
    position: absolute;
    top: 247px;
    left: 623.11px;
    width: 287.15px;
    height: 38px;
    background-color: #F4F4F4;
}

.input-text-first_name {
    position: absolute;
    top: 257px;
    left: 656.89px;
    width: 75.24px;
    height: 18px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    border: none;
    background-color: #F4F4F4;
    color: #BEB1A6;
}


.form__input-text-last_name {
    position: absolute;
    top: 247px;
    left: 954.78px;
    width: 287.15px;
    height: 38px;
    background-color: #F4F4F4;
}

.input-text-last_name {
    position: absolute;
    top: 257px;
    left: 988.57px;
    width: 75.24px;
    height: 18px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    border: none;
    background-color: #F4F4F4;
    color: #BEB1A6;
}






/* 性別 */
.form__group-title-gender {
    position: absolute;
    top: 317px;
    left: 274.54px;
    width: 95.2px;
    height: 26px;
}

.form__label--item-gender {
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    color: #8B7969;
}

.input-radio-male {
    position: absolute;
    top: 321px;
    left: 636.57px;
    width: 20px;
    height: 20px;
}

.male {
    position: absolute;
    top: 319px;
    left: 664.57px;
    width: 55.28px;
    height: 23px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 23.45px;
    letter-spacing: 0%;
    color: #8B7969;
}

.input-radio-female {
    position: absolute;
    top: 321px;
    left: 771.63px;
    width: 20px;
    height: 20px;
    border: 1px #8B7969;
    color: #FFFFFF;
}

.female {
    position: absolute;
    top: 319px;
    left: 799.69px;
    width: 55.28px;
    height: 23px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 23.45px;
    letter-spacing: 0%;
    color: #8B7969;
}

.input-radio-other {
    position: absolute;
    top: 321px;
    left: 900.69px;
    width: 20px;
    height: 20px;
    border: 1px #8B7969;
    color: #FFFFFF;
}

.other {
    position: absolute;
    top: 319px;
    left: 928.68px;
    width: 82.92px;
    height: 23px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 23.45px;
    letter-spacing: 0%;
    color: #8B7969;
}


/* メールアドレス */
.form__label--item-email {
    position: absolute;
    top: 380px;
    left: 273px;
    width: 248.76px;
    height: 26px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    color: #8B7969;
}


.form__group-content-email {
    position: absolute;
    top: 374px;
    left: 621.57px;
    width: 618.82px;
    height: 38px;
    background-color: #F4F4F4;
}

.input-email {
    position: absolute;
    top: 384px;
    left: 655.35px;
    width: 211.9px;
    height: 18px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    color: #BEB1A6;
    background-color: #F4F4F4;
    border: none;
}

/* 電話番号 */
.form__label--item-tel {
    position: absolute;
    top: 451px;
    left: 277.61px;
    width: 156.63px;
    height: 26px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    color: #8B7969;
}

.form__group-content-tel {
    position: absolute;
    top: 445px;
    left: 624.64px;
    width: 287.15px;
    height: 38px;
    background-color: #F4F4F4;
}



.input-tel {
    position: absolute;
    top: 455px;
    left: 696.81px;
    width: 100px;
    height: 18px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    color: #BEB1A6;
    background-color: #F4F4F4;
    border: none;
}

/* 住所 */
.form__label--item-address {
    position: absolute;
    top: 519px;
    left: 277.61px;
    width: 95.2px;
    height: 26px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    color: #8B7969;
}


.form__group-content-address {
    position: absolute;
    top: 513px;
    left: 624.64px;
    width: 618.82px;
    height: 38px;
    background-color: #F4F4F4;
}

.input-address {
    position: absolute;
    top: 523px;
    left: 647.67px;
    width: 348.57px;
    height: 18px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    color: #BEB1A6;
    background-color: #F4F4F4;
    border: none;
}


/* 建物名 */
.form__label--item-building {
    position: absolute;
    top: 589px;
    left: 277.61px;
    width: 92.13px;
    height: 26px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    color: #8B7969;
}

.form__group-content-building {
    position: absolute;
    top: 583px;
    left: 621.57px;
    width: 620.36px;
    height: 38px;
    background-color: #F4F4F4;
}

.input-building {
    position: absolute;
    top: 593px;
    left: 643.07px;
    width: 267.18px;
    height: 18px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    color: #BEB1A6;
    background-color: #F4F4F4;
    border: none;

}

/* お問い合わせの種類 */
.form__label--item-details {
    position: absolute;
    top: 660px;
    left: 277.61px;
    width: 310.18px;
    height: 26px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    color: #8B7969;
}


.form__group-content-details {
    position: absolute;
    top: 654px;
    left: 621.57px;
    width: 331.68px;
    height: 38px;
    background-color: #F4F4F4;
}

.input-details {
    position: absolute;
    top: 664.07px;
    left: 643.07px;
    width: 171.98px;
    height: 18px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    color: #BEB1A6;
    background-color: #F4F4F4;
    border: none;
}

/* お問合せ内容 */
.form__label--item-detail {
    position: absolute;
    top: 732px;
    left: 282.22px;
    width: 279.47px;
    height: 26px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 26.06px;
    letter-spacing: 0%;
    color: #8B7969;
}



.form__group-content-detail {
    position: absolute;
    top: 724px;
    left: 626.18px;
    width: 618.82px;
    height: 129px;
    background-color: #F4F4F4;
}


.input-detail {
    position: absolute;
    top: 740px;
    left: 649.21px;
    width: 343.96px;
    height: 18px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    color: #BEB1A6;
    background-color: #F4F4F4;
    border: none;
}

















/* 確認ボタン */
.form__button {
    position: absolute;
    top: 903px;
    left: 674px;
    max-width: 160px;
    height: 46px;
    padding: 10px 40px;
    background-color: #82756A;
}

.form__button-submit {
    width: 80px;
    height: 26px;
    font-family: 'Inika', serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18.24px;
    letter-spacing: 0%;
    color: #BEB1A6;
    background-color: #82756A;
    border: none;
}